# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.code-workspace
*.json
# Build Folders (bin, obj, etc)
bin/
obj/

# NuGet
*.nupkg
# Include if using `packages.config`
packages/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
